@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.booking-header {
  background-image: url('/images/booking/hero-bg-mobile@2x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;

  @include padding-container;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 56px;

  svg {
    margin-bottom: 44px;
  }

  &-title {
    color: $white;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.4px;
    margin-bottom: 12px;
  }

  &-description {
    color: $white;
    font-size: 1.6rem;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    text-wrap: stable;
    margin-bottom: 20px;
  }
}

.booking-section {
  @include padding-container;

  &-container {
    position: relative;
    top: -134px;
    background-color: $white;
    padding: 32px;
    box-shadow: 0 75px 100px -50px rgba(56, 66, 84, 0.5);
    .booking-form {
      display: grid;
      gap: 34px;

      &-group {
        display: flex;
        flex-direction: column;
        position: relative;

        .booking-input {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #8e8e8e;
          height: 46px;
          padding: 0 0 15px 16px;
          color: $cod-gray;
          font-size: 2rem;
          line-height: 28px;
          font-weight: 400;
          outline: none;

          &::placeholder {
            color: $cod-gray;
            opacity: 0.5;
          }

          &-error {
            color: $error-red;
            font-size: 1rem;
            letter-spacing: -0.13px;
            font-weight: 500;
            position: absolute;
            bottom: -16px;
            left: 16px;
            display: none;
          }
        }
      }

      &-date {
        @extend .booking-form-group;

        .booking-label {
          font-size: 2rem;
          color: $cod-gray;
          line-height: 28px;
          font-weight: 400;
          margin-bottom: 8px;
        }

        .booking-date-inputs {
          > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;

            .custom-select {
              position: relative;
              width: 100%;
              cursor: pointer;

              &:after {
                content: url('/images/icons/icon-arrow.svg');
                position: absolute;
                right: 2%;
                top: 10%;
                pointer-events: none;
              }

              .selected-option {
                @extend .booking-input;
              }

              .options {
                display: none;
                position: absolute;
                top: 110%;
                left: 0;
                width: 100%;
                background-color: $white;
                box-shadow: 0 15px 25px 0 rgba(56, 66, 85, 0.24);
                z-index: 10;
                max-height: 150px;
                overflow-y: auto;

                li {
                  padding: 10px 16px;
                  font-size: 1.6rem;
                  color: $cod-gray;
                  cursor: pointer;

                  &:hover {
                    background-color: red; // Ajuste de cor ao hover
                  }
                }
              }

              &.open .options {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
