@use '../../styles/mixins' as *;

.family-experience {
  position: relative;
  @include padding-container;

  @media screen and (min-width: 768px) {
    padding-bottom: 118px;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      height: 100%;
      max-height: 320px;
      z-index: -1;
      left: 0;
      width: 100%;
    }

    &::before {
      background-image: url('/images/patterns/pattern-curve-top-right.svg');
      top: 12.5%;
      left: -50.5%;

      @media screen and (min-width: 1024px) {
        top: 20%;
        translate: 0;
      }
    }

    &::after {
      background-image: url('/images/patterns/pattern-curve-top-left.svg');
      bottom: 0;
      left: 50.5%;

      @media screen and (min-width: 1024px) {
        top: 74%;
        translate: 56.5%;
      }
    }
  }

  &-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    @media screen and (min-width: 768px) {
      margin-bottom: 118px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 125px;
      margin-bottom: 122px;
    }
  }

  &-image {
    box-shadow: 0 75px 100px -50px rgba(56, 66, 84, 0.5);
    position: relative;

    &.image-lines::after {
      @media screen and (min-width: 768px) {
        content: '';
        position: absolute;
        background-image: url('/images/patterns/pattern-lines.svg');
        background-repeat: no-repeat;
        height: 76px;
        width: 160px;
        z-index: 1;
        bottom: 0;
        right: 0;
        transform: translate(35%, -80%);
      }

      @media screen and (min-width: 1024px) {
        bottom: 42%;
        right: -11%;
      }
    }

    @media screen and (min-width: 1024px) {
      max-width: 540px;
      z-index: 1;
      box-shadow: none;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.content-two {
      @media screen and (min-width: 1024px) {
        order: -1;
      }
    }
  }

  &-divide {
    padding: 48px 0 36px;
    justify-self: center;

    @media screen and (min-width: 768px) {
      padding: 56px 0 40px;
    }

    @media screen and (min-width: 1024px) {
      justify-self: flex-start;
      padding: 0 0 55px;
    }
  }

  &-title {
    @include heading-large(3.2rem, 40px);
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      @include heading-large();
      margin-bottom: 28px;
    }

    @media screen and (min-width: 1024px) {
      text-align: start;
    }
  }

  &-text {
    @include text-medium(1.6rem, 26px);

    @media screen and (min-width: 768px) {
      @include text-medium;
      width: 457px;
    }

    @media screen and (min-width: 1024px) {
      text-align: start;

      .content-two & {
        width: 445px;
      }
    }
  }
}
