@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.menu-highlights-container {
  background-color: $cod-gray;
}

.menu-highlights {
  max-width: 160rem;
  margin: 0 auto;
  @include padding-container;
  & {
    padding-top: 72px;
    padding-bottom: 102px;
  }

  @media screen and (min-width: 768px) {
    padding: 96px 98px;
  }

  @media screen and (min-width: 1024px) {
    position: relative;
    transform: translateY(-10%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 200px 165px 120px;
    gap: 125px;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 86px;

    @media screen and (min-width: 768px) {
      margin-bottom: 54px;
    }

    @media screen and (min-width: 1024px) {
      margin: 0;
    }

    img {
      margin-bottom: 36px;

      @media screen and (min-width: 768px) {
        margin-bottom: 40px;
      }

      @media screen and (min-width: 1024px) {
        margin-right: auto;
        margin-bottom: 55px;
      }
    }
  }

  &-title {
    @include heading-large(3.2rem, 40px, $white);

    text-wrap: pretty;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      @include heading-large(4.8rem, 48px, $white);
      margin-bottom: 28px;
    }

    @media screen and (min-width: 1024px) {
      text-align: start;
    }
  }

  &-text {
    @include text-medium(
      $font-size: 1.6rem,
      $line-height: 26px,
      $color: $white
    );

    @media screen and (min-width: 768px) {
      @include text-medium($color: $white);
      max-width: 445px;
    }

    @media screen and (min-width: 1024px) {
      text-align: start;
      align-self: flex-start;
      width: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
      align-items: self-start;
    }

    @media screen and (min-width: 1024px) {
      margin-top: 56px;
    }

    .menu-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding-bottom: 54px;
      width: 100%;

      @media screen and (min-width: 768px) {
        display: flex;
        gap: 62px;
        padding-bottom: 30px;
      }

      @media screen and (min-width: 1024px) {
        padding-bottom: 24px;
      }

      &:nth-child(2) {
        padding-bottom: 28px;
      }

      &:last-child {
        border: 0;
        padding-bottom: 0;
      }

      &-image {
        position: relative;
        max-width: 128px;

        @media screen and (min-width: 768px) {
          margin-bottom: 0;

          &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 32px;
            top: 10%;
            right: -25%;
            background-color: $beaver;
          }
        }

        img {
          margin: 0 auto 36px;

          @media screen and (min-width: 1024px) {
            margin: 0;
          }
        }
      }

      &-info {
        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: self-start;
          gap: 6px;
        }
      }

      &-title {
        @include text-medium(
          $font-weight: 700,
          $color: $white,
          $line-height: 24px,
          $letter-spacing: -0.25px
        );
        margin-bottom: 6px;

        @media screen and (min-width: 1024px) {
          text-align: start;
        }
      }

      &-description {
        @include text-small($white);

        @media screen and (min-width: 768px) {
          text-align: start;

          br {
            display: none;
          }
        }
      }
    }
  }
}
