@use './variables' as *;

@mixin heading-xl {
  font-size: 8rem;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: -1px;
  color: v.$mirage;
}

@mixin heading-large($font-size: 4.8rem) {
  font-size: $font-size;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: $ebony-clay;
  text-align: center;
}

@mixin heading-medium {
  font-size: 2rem;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: $mirage;
}

@mixin heading-small {
  font-size: 1.7rem;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: $neutral-dark-gray;
}

@mixin text-medium {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  color: $ebony-clay;
  text-align: center;
}

@mixin text-small($color: $mirage) {
  @include text-medium;
  font-size: 1.6rem;
  line-height: 26px;
  color: $color;
}

@mixin button-base {
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 16px;
  height: 64px;
  width: 24.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-theme($theme) {
  @include button-base;

  color: $white;
  background-color: if($theme == dark, transparent, $cod-gray);
  border: 1px solid if($theme == dark, $white, $cod-gray);
  font-weight: 600;
  letter-spacing: 2.5px;

  &:hover {
    background-color: if($theme == dark, $white, transparent);
    color: if($theme == dark, $mirage, $cod-gray);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;
    pointer-events: none;
  }
}

@mixin padding-container {
  padding: 0 24px;
}
