@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.reservation {
  background-image: url('/images/homepage/ready-bg-mobile@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include padding-container;

  @media screen and (min-width: 768px) {
    background-image: url('/images/homepage/ready-bg-tablet@2x.jpg');
    background-position: inherit;
    gap: 24px;
    height: 272px;
  }

  &-title {
    @include heading-large(3.2rem, 40px, $white);
    text-wrap: pretty;

    @media screen and (min-width: 768px) {
      @include heading-large();
      color: $white;
      text-wrap: nowrap;
    }
  }
}
